* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-size: 30px;
}
.new-div {
  border: 2px solid orange;
}

.about-section {
  justify-content: space-around;
  display: flex;
  margin-top: 80px;
}
.img {
  background-image: url("img/baker.jpeg");
  width: 550px;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10%;
}

.inner-container {
  width: 120px;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: pink;
}
