@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

* {
  margin: 0;
  padding: 0;
}

nav {
  height: 70px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid orange;
  color: rgb(9, 61, 18);
  font-size: 24px;
  height: 63px;
  width: 64px;
  text-decoration: none;
  border-radius: 100%;
}

.btn {
  border: 3px solid gray;
  display: inline-block;
  cursor: pointer;
}

.bar {
  width: 42px;
  margin: 5px;
  height: 5px;
  padding: 1px;
  color: rgb(139, 139, 137);
  background: grey;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  margin-top: 30px;
}

ul {
  list-style: none;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.showNav {
  height: 300px;
}

ul li a {
  display: block;
  margin-top: 4px;
  color: #333;
  padding: 13px;
  text-decoration: none;
  transition: all 0.5s ease;
}

ul li a:hover {
  color: yellow;
  padding-left: 10px;
}

/* Responsive Move */

@media screen and (min-width: 640px) {
  nav {
    background-color: rgb(164, 220, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
  }
  .btn-bar {
    display: none;
  }
  ul {
    display: flex;
    height: auto;
  }
  .showNav {
    height: auto;
  }
  nav ul a {
    background: transparent;
  }
  .logoMain {
    border: none;
  }
  ul li a:hover {
    color: orange;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
  }
  .sub-logo {
    margin-top: 35px;
    font-size: 17px;
    font-style: italic;
  }
}
